<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>New Team Page</h1>
    <form action="/" method="POST">
      Team Name: <input type="text" name="name"/><br>
      Logo: <input type="text" name="logo"/><br>
      Sport: <input type="text" name="sport"/><br>
      Platform: <input type="text" name="platform"/><br>
      Place: <input type="text" name="place"/><br>
      Players:<br>Name: <input type="text" name="players"/>Team: <input type="text" name="players"/>Position: <input type="text" name="players"/>
      <input type="submit" value="Add Team">
    </form>
  </body>
</html>
