<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Add New Team</title>
    <%- include('partials/style') %>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
   <script src='/jquery/jquery.js' type="text/javascript"></script>
  </head>
  <body>
    <h1>New Team Page</h1>
    <form action="/" method="POST">
      Team Name: <input type="text" name="name"/><br>
      Logo: <input type="text" name="logo"/><br>
      Sport: <input type="text" name="sport"/><br>
      Platform: <input type="text" name="platform"/><br>
      Place: <input type="text" name="place"/><br>
      Players:<br>
      <div id = "players">
      <% i = 0 %>
      <% while (i < 10) { %>
        <div>
        Name: <input type="text" name="players"/>Team: <input type="text" name="players"/>Position: <input type="text" name="players"/>
        <% i++ %>
        </div>
      <% } %>
      </div>
      <button type="button" name="button">Add Another Player</button>
      <input type="submit" value="Add Team">
    </form>
  </body>
</html>
