h1 {
  font-size: 50px;
  margin-left: -10px;
}

body {
  background-color: #cbcbcb;
}

.teamLogo {
  width: 130px;
  height: 130px;
}

.baseballContainer, .footballContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  border-radius: 10px;
}

.teamContainer {
  background-color: white;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 10px;
}

.container {
  margin-top: 55px;
  margin-bottom: 30px;
  width: 100%;
  border-radius: 10px;
}

.footballTeam, .baseballTeam {
  width: 33%;
  margin-top: 4px;
}

h4 {
  padding-bottom: 10px;
}

.rounded-circle-success {
  background-color: var(--success);
  width: 30px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.rounded-circle-warning {
  background-color: var(--warning);
  width: 30px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.rounded-circle-danger {
  background-color: var(--danger);
  width: 30px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 20px;
}

.navbar-nav {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

.nav-item {
  margin-left: 0;
  padding-left: 30px;
}

.nav-link {
  color: white;
}

.nav-link:hover {
  font-weight: bold;
  color: white;
}

.navbar {
  background-color: black;
}

.dropdown-menu {
  display: none;
  background-color: black;
}

.dropdown-item {
  background-color: black;
  color: white;
  padding: none;
  margin: 0;
}

.site-name {
  font-size: 30px;
  font-family: 'Bangers', cursive;
}

.site-name:hover {
  text-decoration: none;
}

.indexh2 {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 50px;
  letter-spacing: .1em;
  background-color: #E8E8E8;
  align: center;
  border-radius: 10px;
  margin-top: 10px;
}

.wideContainer {
  flex: 1;
  margin: 0 -15px
}

.flex {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}

.fluid-image {
  max-width: 300px;
  margin: 10px auto;
}

.edit {
  padding: 5px;
  height: 38px;
}

.showContainer {
  display; flex;
  flex-direction: row;
  justify-content: center;
}

.center {
  text-align: center;
  padding-bottom: 10px;
}

.col {
  margin: 0 auto;
  padding: 10px;
}

.mb-2 {
  margin-left: 10px;
  margin-right: 20px;
}

.flexCol {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

h3 {
  text-align: center;
  padding-top: 15px;
}

.flexCol p {
  text-align: center;
}

.homepage {
  width: 50%;
  margin: 0 auto;
}
